<h1>iframe dashboard</h1>
<h3>signed_request = <%= @signed_request %></h3>
now you can go to <a href="/another-page">another page</a> without sending anything in parameters in url<br/>

<p>signed request contains user id, his access token and some other stuff. it just needs to be decoded</p>
