<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="url.js"></script>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  
  // initialize the library with the API key
  FB.init({ apiKey: "<%= APP_CONFIG['api_key'] %>", cookie: false });
	FB.Canvas.setAutoResize();
	
  // fetch the status on load
	FB.getLoginStatus(function(response) {
	  if (response.session) {
	    // logged in and connected user, someone you know
			top.location = "<%= APP_CONFIG['app_url'] %>/setcookie?signed_request="+jQuery.url.param("signed_request"); // take the signed request from url and pass it to my app
	  } else {
	    // no user session available, someone you dont know
			top.location = "http://www.facebook.com/login.php?v=1.0&api_key=<%= APP_CONFIG['api_key'] %>&display=page&fbconnect=0&canvas=1&req_perms=publish_stream,user_likes" // request login permissions
			return;
	  }
	});

</script>